.preloader {

    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    row-gap: 40px;
    background: white;
    z-index: 100;
}

.loading, .video-loader .load-anim {

    height: 100%;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, auto);
    column-gap: 20px;
}

.preloader .go {

    place-self: center;
    padding: 10px;
    border: 2px solid #4286f5;
    border-radius: 6px;
    color: #4286f5;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.05s;
}

.preloader .go:hover {

    background: #4286f5;
    color: white;
}

.preloader .go:active {

    transform: scale(0.9);
}

.circle {

    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    animation: loading-anim-bounce 1.8s infinite;
}

.circle:first-child {

    background: #ef4430;
}

.circle:nth-child(2) {

    background: #4286f5;
    animation-delay: 0.1s;
}

.circle:nth-child(3) {

    background: #35a853;
    animation-delay: 0.2s;
}

.circle:last-child {

    background: #fabc05;
    animation-delay: 0.3s;
}

.img-loader .load-anim {

    display: none;
}

.img-loader .circle {

    background: #00cfa2;
    transform: scale(0.5);
    animation: loading-anim-scale 1.4s infinite;
}

.img-loader .circle:nth-child(2) {

    animation-delay: 0.15s;
}

.img-loader .circle:nth-child(3) {

    animation-delay: 0.3s;
}

.img-loader .circle:last-child {

    animation-delay: 0.45s;
}

@keyframes loading-anim-scale {
    
    0% {
        transform: scale(0.5);
        background: #00cfa2;
    }
    50% {
        transform: scale(1.0);
        background: #00ffc8;
    }
    100% {
        transform: scale(0.5);
        background: #00daaa;
    }
}

.video-loader .circle {

    animation: loading-anim-bounce 1.4s infinite;
}

.video-loader .load-anim {

    display: none;
    column-gap: 10px;
}

.video-loader .circle:nth-child(2) {

    animation-delay: 0.2s;
}

.video-loader .circle:nth-child(3) {

    animation-delay: 0.4s;
}

.video-loader .circle:last-child {

    animation-delay: 0.6s;
}

@keyframes loading-anim-bounce {
    
    0%    { transform: translateY(0px)   }
    50%   { transform: translateY(-20px) }
    100%  { transform: translateY(0px)   }
}