/* STYLE RESETS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
*::-webkit-scrollbar {
    width: 0;
}
*/

a {
    text-decoration: none;
}

a:link, a:active, a:visited {
    color: inherit;
}

ul {

    list-style: none;
    list-style-position: inside;
}

/* RESETS COMPLETE */


html {

    scroll-behavior: smooth;
}

body {

    font-family: sans-serif;
}

header {

    width: 100%;
    position: fixed;
    z-index: 2;
    transition: transform 0.5s;
}

.scroll-progress {

    opacity: 0;
    height: 5px;
    background: #aeaeff;
    transition: opacity 0.5s;
}

.scroll-progress-bar {

    height: 100%;
    width: 0;
    background: #6262ff;
}

section {

    margin: 100px 90px;   
}

.container {

    position: relative;
    top: 116px;
    border-top: 1px solid #ccc;
}

h1 {

    position: relative;
    top: -38px;
    margin: 0 auto;
    padding: 8px;
    width: fit-content;
    background: white;
    color: #383f45;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 52px;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
}

footer {

    margin-bottom: 200px;
    display: grid;
}

footer p {

    margin: 0 180px;
    font-size: 24px;
}